/* This is a comment */

window {
	background-color: #e4b6fe;	/* Background color of the window */
}

label {
	color: #2d0c48;			/* Color of text */
}

button {
	background-color: #651ba2	/* Background color of buttons */
	color: #ffffff;			/* Text color of buttons */
}

button:hover {
	background-color: #ba83f9; 	/* Background color of buttons on hover */
}
